<!DOCTYPE html>
<html>
	<head>
		<title>Surplus board</title>
		
	</head>
	<body>
		<header>
			<div>Surplus board</div>
			<div>+78877787878877</div>
			<div>button CALL</div>
			<div>logo</div>
		</header>
		<nav>
			<ul> <!-- nav menu -->
				<li>Главная</li>
				<li>О Нас</li>
				<li>Поиск</li>
			</ul>
		</nav>
		<div> <!-- content page -->
			<section>
				<h3>Name year</h3>
				<img src="#">picture</img>
				<p>
					Он может включать имя
					лица (имя лица — условно
					применяемое понятие,
					включающее фамилию, инициалы
					или имя и отчество, псевдоним,
					личное имя
					или прозвище в качестве фамилии),
					наименование организации,
					унифицированное
					заглавие произведения, обозначение
					документа, географическое название,
					иные сведения.
				</p>
			</section>
			<section>
				<h3>Name year</h3>
				<img src="#">picture</img>
				<p>равошоашвомоаш</p>
			</section>
			<section>
				<h3>Name year</h3>
				<img src="#">picture</img>
				<p>njfnjdnvjfdnvjnfj</p>
			</section>
		</div>
		<footer> <!-- Footer - Подвал -->
			<small>©2017 SURPLUS ITEMS SYSTEM </small>
		</footer>
	</body>
</html>
